
.body {
	padding: 10px;
}

a:link {
	color: orange;
	font: 10px;
}

a.newcolor:link	{
	color: red;
}

a:hover {
	color: red;
}

a:visted {
	color: darkred;
}

.special {
	color: red;
}
.second {
	border: solid 5px black;
	padding: 10px;

}
.third {
	margin: 20px;
	border: solid 1px green;

}
.leadmessage p {
	font-family: sans-serif;

}

p: nth-child(odd) {
	font-weight: bold;
}